{% extends 'base.html' %}
{% load static %}
{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'clinic_manager/style.css'%}">
{% endblock %}
{% block page %}
    <div class="row d-flex" id="heading">
        <div class="mr-auto">
            <h1>AS-P</h1>
        </div>
        <div class="p-2">
            <button class="btn btn-secondary btn-lg btn-block" id="checkout-button" onClick=logout() >Logout</button>
        </div>
    </div>

    <div class="pure-container" data-effect="pure-effect-slide">
        <input type="checkbox" id="pure-toggle-right" class="pure-toggle" data-toggle="right">
        <label class="pure-toggle-label" for="pure-toggle-right" data-toggle-label="right">
            <span class="pure-toggle-icon"></span>
        </label>

        <div class="pure-drawer" data-position="right">
            <div class="row">
                <div class="col-12">
                    <ul class="nav-primary">
                        <li class="side-menu-options"><a href="/clinic_manager/home/">Home</a></li>
                        <li class="side-menu-options"><a href="/change_user_details/">Change User Info</a></li>
                        <li class="side-menu-options"><a href="/change_password">Change User Password</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pure-pusher-container">
            <div class="pure-pusher">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <h3>Orders</h3>
                                {% for order in orders %}
                                    <div class="col-lg-12 col-md-12 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    Order Id: {{order.id}}
                                                </h4>
                                                <h5>Weight: {{ order.total_weight }}</h5>
                                                <p>Order status: {{ order.order_status }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
    </div>
    <script src={% static 'clinic_manager/app.js' %}></script>
{% endblock %}