ASP/__pycache__
venv/
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/modules.xml
.idea/dataSources.local.xml
.idea/dataSources/
.idea/jsLibraryMappings.xml
clinic_manager/__pycache__/
*/__pycache__/
*/*/__pycache__/
clinic_manager/migrations/__pycache__/
ha/__pycache__/
ha/migrations/__pycache__/
home/__pycache__/
seqdiags/
