{% extends "base.html" %}
{% load static %}
{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}
{% block page %}
    <div class="row" id="heading">
        <div class="col-4">
            <h1>AS-P</h1>
        </div>
        <div class="offset-2 col-1">
            <a href="/login"><button type="button" class="btn btn-outline-dark">Login</button></a>
        </div>
        <div class="col-2">
            <a href="/register_token"><button type="button" class="btn btn-outline-dark">Register Token</button></a>
        </div>
        <div class="col-3">
            <a href="/register"><button type="button" class="btn btn-outline-danger">Send Token</button></a>
        </div>
    </div>
    <div class="row d-flex justify-content-center" id="welcome-text">
        <p>Welcome to AS-P</p>
    </div>
{% endblock %}